div,h1{
    border:yellow 2px dashed;
    background-color:cyan;
    color:red;
    text-align:center;
    
}
.pos{position:absolute;
top:30px;
}
.s1{
    border: yellow 2px dashed;
    background-color:cyan;
    color:red;
    text-align:center;
    margin:90px;
    padding-top:20px;
}

ul{background-color:olive; }
li{display:inline;}