.bigimg{
	background-image: url('C:/Users/Uddha/OneDrive/Desktop/myimg.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 660px;
}

.hearderset{
	padding-top: 250px;
	box-sizing: border-box;

}
.hearderset h2{
font-size: 45px;
}

.hearderset h3{
	font-size: 42px;
}

.hearderset h1{
	font-size: 82px;
	font-weight: bold;
}